.swiper__kitchen {
  width: 1100px;
  height: 700px;
}

.testimonial__kitchen {
  padding: 1rem;
  margin-top: -1rem;
}

@media screen and (max-width: 1024px) {
  .swiper {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }
}
