.swiper {
  width: 1200px;
  height: 800px;
  margin-top: 2.5rem;
  z-index: 0;
}

.client__avatar {
  width: 100%;
  overflow: hidden;
  border: 50%;
  margin: 0 auto 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--color-bg);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-light);
}

@media screen and (max-width: 1240px) {
  .swiper {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .swiper {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }
}
